<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src={{ "/images/logo.png" | relative_url }} class="navbar__logo"/>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
            {% assign mypages = site.pages | sort: "order" %}
            {% for item in mypages %}
                {% if item.layout != "sport" and item.title %}
                    <a class="navbar-item" href="{{ item.url | relative_url }}">
                        {{ item.title }}
                    </a>
                {% endif %}
            {% endfor %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Teams
                </a>
                <div class="navbar-dropdown is-boxed">
                {% assign csize = site.teams | size %}
                {% if csize == 0 %}
                    <a class="navbar-item is-disabled" >No teams yet!</a>
                {% endif %}
                {% for item in site.teams %}
                    <a class="navbar-item" href="{{ item.url | relative_url }}">
                        {{ item.title }}
                    </a>
                {% endfor %} 
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        All APAC
                    </a>
                    <div class="navbar-dropdown is-boxed">
                    {% assign csize = site.allapac | size %}
                    {% if csize == 0 %}
                        <a class="navbar-item is-disabled" >No All-APAC yet!</a>
                    {% endif %}
                    {% for item in site.allapac %}
                        <a class="navbar-item" href="{{ item.url | relative_url }}">
                            {{ item.title }}
                        </a>
                    {% endfor %} 
                    </div>
                </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Tournaments
                </a>
                <div class="navbar-dropdown is-right is-boxed">
                {% assign csize = site.tournaments | size %}
                {% if csize == 0 %}
                    <a class="navbar-item is-disabled" >No tournaments yet!</a>
                {% endif %}
                {% for item in site.tournaments %}
                    <a class="navbar-item" href="{{ item.url | relative_url }}">
                        {{ item.title }}
                    </a>
                {% endfor %} 
                </div>
            </div>
            </div>
        </div>
    </div>
</nav>