.hero--home {
    background-size: cover;
    background-position: center center;
    text-transform: uppercase;

    .hero-body {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        align-items: center;
    }
}

.featured {
    max-width: 400px;
    padding: 70px 50px;
    background-color: $white;
    opacity: 0.95;
    margin: 30px 0px;

    .button {
        margin-top: 10px;
    }
}

@media (min-width: 500px) {
    .featured {
        width: 400px;
    }
}

.info-bar {
    background-color: $blue;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 0px;
}