---
layout: default
---
<section class="hero hero--home">
    <div class="hero-body">
        <div class="container">
            <div class="featured content">
                <div><!-- vertical align flexbox -->
                    {{ content }}
                    <a class="button is-primary">{{ page.button }}
                        <span class="mdi mdi-chevron-double-right">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="info-bar">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <p>Rugby, Basketball and Soccer</p>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <p>2018-2019</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
{% for post in site.posts %}
    <p>{{ post.title }}</p>
{% endfor %}
</div>
<p>
{{ site.pages | jsonify }}
</p>



{% comment %} {% for collection in site.collections %}
{% assign name = collection.title %}
<h3>{{ name }}</h3>
{% endfor %} {% endcomment %}
