---
layout: page
---

{% if page.season_one %}
<div class="season">
    {% assign rows = page.season_one.size | divided_by: 2.0 | ceil %}
    <h1 class="title">Season One</h1>
    {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
            <div class="columns columns--teams">
                {% for item in page.season_one limit:2 offset:offset %}
                <div class="column">
                    <h1 class="title text-center is-4">{{ item.name }}</h1>
                    <img src="{{ item.image | relative_url }}">
                </div>
                {% endfor %}
            </div>
    {% endfor %}
</div>
{% endif %}

{% if page.season_two %}
<div class="season">
    {% assign rows = page.season_two.size | divided_by: 2.0 | ceil %}
    <h1 class="title">Season Two</h1>
    {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
            <div class="columns columns--teams">
                {% for item in page.season_two limit:2 offset:offset %}
                <div class="column">
                    <h1 class="title text-center is-4">{{ item.name }}</h1>
                    <img src="{{ item.image | relative_url }}">
                </div>
                {% endfor %}
            </div>
    {% endfor %}
</div>
{% endif %}

{% if page.season_three %}
<div class="season">
    {% assign rows = page.season_three.size | divided_by: 2.0 | ceil %}
    <h1 class="title">Season Three</h1>
    {% for i in (1..rows) %}
        {% assign offset = forloop.index0 | times: 2 %}
            <div class="columns columns--teams">
                {% for item in page.season_three limit:2 offset:offset %}
                <div class="column">
                    <h1 class="title text-center is-4">{{ item.name }}</h1>
                    <img src="{{ item.image | relative_url }}">
                </div>
                {% endfor %}
            </div>
    {% endfor %}
</div>
{% endif %}